/*
 *= require_self
 */
$light: #EDEFF5;
body {
	font-family: "Helvetica";
	font-weight: 100;
  background-image:image-url('MJ.gif'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
  color:#FFFFFF;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	
	color: #9B9B9B;
}
#logo{
  color: #000000;
  
}
#drg{
   display: block;
    margin-left: auto;
    margin-right: auto;
}
header {
	width: 100%;
	padding: 2rem 0;
	border-bottom: 1px solid #E4E4E4;
	#logo {
		float: left;
		font-size: 2.00rem;
		a {
			color: #333233;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
  nav {
    top-padding: 50px;
    float: right;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
      margin-left: 1.5rem;
			line-height: 2;
			color: #FFFFFF;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
}
	/*nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 2;
			color: #9B9B9B;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
}*/
.field {
	margin: 1rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
	width: 20rem;
	height: 2.5rem;
	padding: .25rem 1rem;
	border: 1px solid darken($light, 5%);
	border-radius: .35rem;
	margin-top: .5rem;
}

textarea {
	min-height: 8rem;
  min-width:8rem;
	margin-top: .5rem !important;
}

#form {
	padding: 0 0 10rem 0;
}

.sleep-video {
            position: fixed;
            bottom: 0px;
            right: 0px;
            min-width: 100%;
            min-height: 100%;
            background:#000;
            width: auto;
            height: auto;
            z-index: -1000;
            overflow: hidden;
            background-attachment: fixed;
            -webkit-filter: blur(0px);
            filter: blur(0px);

        }
label{
  color:#000000;
  font-size:20px;
}
.area{
  text-align:center;
  font-size:6.5em;
  color:#fff;
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}

@import 'post.css.scss';


@import 'home.css.scss';
@import 'nav.css';

@import 'youtube-video-gallery.css';
@import 'timeline.css';

